{% extends "layout.html" %}

{% block title %}
Chai aur tweet
{% endblock %}

{% block content %}
  <h1 class="text-center text-white mt-4">Welcome to Chai's Django Project</h1>
  <h2 class="text-center text-white">Create a Tweet</h2>

  <div class="container mt-4">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-warning">Submit</button>
      <a href="{% url 'tweet_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
{% endblock %}
